header {
    position: relative;
    width: auto;
    height: 58px;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
    font-weight: 400;
}

h1 {
    text-transform: uppercase;
    font-weight: 700;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 79px;
}

.header-content {
    display: flex;
    gap: 27px;
    margin-right: 27px;
}

.header-content::after {
    content: "";
    position: relative;
    top: 5px;
    width: 1px;
    height: 19px;
    background: rgba(255, 255, 255, 0.9);
    opacity: 0.5;
}

a:hover {
    color: #3CB878;
}

a:hover path {
    fill: #3CB878;
}
