/* .green-box-element {
    background-color: #3CB878;
    width: 18px;
    height: 18px;
    position: absolute;
    left: 0;
    top: 29px;
} */

.title-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.subtitle-login:hover {
    color: #3CB878;
    text-decoration: underline;
}

.main-title {
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}

.title-form::before {
    content: "";
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    position: absolute;
    left: 0;
    top: 39px;
}

.subtitle-login {
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
}

.button {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.btn-line {
    width: 1px;
    height: 28px;
    background-color: rgba(10, 22, 47, 0.3);
    position: absolute;
    right: 103px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 48px;
    border-radius: 4px;
    border: none;
    color: white;
    cursor: pointer;
    gap: 38px;
}

.fb-button {
    background-color: #305DB8;
    position: relative;
}

.fb-button::after {
    content: "";
    display: block;
    width: 1px;
    height: 28px;
    background-color: #0A162F;
    position: absolute;
    left: 55px;
    opacity: 0.1;
}

.gg-button {
    background-color: #DF4A32;
    position: relative;
}

.gg-button::after {
    content: "";
    display: block;
    width: 1px;
    height: 28px;
    background: #0a162f;
    position: absolute;
    left: 60px;
    opacity: 0.1;
}

.line {
    text-align: center;
    font-size: 14px;
    line-height: 1;
    color: #848484;
    margin-top: 31px;
    margin-bottom: 11px;
}

.line::before {
    content: "";
    display: block;
    height: 1px;
    width: 205px;
    background-color: #f2f2f2;
    position: absolute;
    top: 9px;
    right: 1px;
}

.line::after {
    content: "";
    display: block;
    height: 1px;
    width: 205px;
    background-color: #f2f2f2;
    position: absolute;
    top: 9px;
}

.form-container {
    width: 100%;
    position: relative;
}
