body {
    font-family: 'Ubuntu', sans-serif;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
    color: white;
}

.container-form {
    position: relative;
    width: 444px;
    height: auto;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    padding: 38px 60px;
    margin: 112px auto 74px;
}

.input-text {
    width: 400px;
    height: 44px;
    margin-top: 17px;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: black;
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    line-height: 14px;
    padding: 15px 20px;
}
.input-text:focus {
    outline: none;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.input::placeholder {
    font-size: 14px;
    line-height: 14px;
    color: #bebebe;
}

.checkbox {
    color: black;
    font-size: 14px;
    line-height: 14px;
    opacity: 1;
    margin-top: 12px;
    margin-bottom: 20px;
}

.checkbox-link {
    text-decoration: none;
    color: #3CB878;
}

.checkbox-link:hover {
    color: #3CB878;
    text-decoration: underline;
}

.submit-btn{
    width: 443px;
    height: 46px;
    background-color: #3CB878;
    color: white;
    font-size: 16px;
    line-height: 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}
